<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Nipplejs by yoannmoinet</title>
    <link rel="image_src" href="{{ site.path }}/images/nipplejs.jpg"/>
    <meta property="og:title" content="nippleJS" />
    <meta property="og:description" content="A virtual joystick for touch capable interfaces." />
    <meta property="og:image" content="{{ site.path }}/images/nipplejs.jpg"/>
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/highlight.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{ site.path }}/images/nipplejs.png" alt="logo">
        <p>A virtual joystick for touch capable interfaces.</p>
        <p class="view"><a href="https://github.com/yoannmoinet/nipplejs">View the Project on GitHub <small>yoannmoinet/nipplejs</small></a></p>
        <ul>
          <li><a href="https://github.com/yoannmoinet/nipplejs/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/yoannmoinet/nipplejs/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/yoannmoinet/nipplejs">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/yoannmoinet">yoannmoinet</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.path }}/javascripts/scale.fix.js"></script>
    <script src="{{ site.path }}/javascripts/app.js"></script>
  </body>
</html>
